/* Achievements & Skills Swiper Containers */

#achievements-section,
#skills-section {
	padding: 2rem !important;
	position: relative;
	overflow: hidden;
}

.swiper-slide {
	flex-shrink: 1;
	width: 100% !important;
	height: 100%;
	position: relative;
	transition-property: transform;
	display: block;
	padding: 1rem !important;
	margin: 0 !important;
}

.skill-icon {
	min-width: 3rem;
	min-height: 3rem;
	/* padding: 2rem; */
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}